*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(82, 82, 82);
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    background-color: aliceblue;
    height: 550px;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid aliceblue;
    box-shadow: 5px 5px 20px aliceblue,
    -2px -2px 10px aliceblue;
}

img{
    width: 100%;
    height: fit-content;
    position: absolute;
    transition: 1s;
}

.nav{
    color: aliceblue;
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 900px;
    font-size: 30px;
}

.prev:hover,
.next:hover{
    color: rgb(255, 251, 0);
}

.buttons{
    z-index: 100;
    display: flex;
    position: absolute;
    color: aliceblue;
    bottom: 20px;
    gap: 15px;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
}

footer {
    margin-top: 40px;
    color: #c9ff9e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.devcodar {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.devcodar:hover {
    color: #afafaf;
}

.btns, .download {
    border: solid 2px #e1ff9b;
    border-radius: 5px 10px;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 15px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    background: #c9ff9e;
    box-shadow: 0px 3px 10px #c9ff9e;
}

.btns, .download:hover {
    background: #d6fcb7;
    color: #949494;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}